body{
   background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
   url('./components/img/universo-galaxia_2560x1440_xtrafondos.com.jpg');
}

body::-webkit-scrollbar{
   display: none;
   width: 0.5px;
   height: 0.5px;
} 

body::-webkit-scrollbar-thumb{
   background: #2A0859;
   border-radius: 5px;
}