@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lobster&family=Poor+Story&display=swap');


.divCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.divCards h1{
    font-family: 'Inconsolata', monospace;
    font-family: 'Lobster', cursive;
    font-family: 'Poor Story', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #05AFF2;
    max-width: 60%;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}