@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lobster&family=Poor+Story&display=swap');

.divDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A0859;
    max-width: 18%;
    padding: 2rem;
    margin-left: 40%;
    margin-right: 42%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    box-shadow: 10px 10px 91px 0px rgba(208,64,212,0.75);
    -webkit-box-shadow: 10px 10px 91px 0px rgba(208,64,212,0.75);
    -moz-box-shadow: 10px 10px 91px 0px rgba(208,64,212,0.75);
}

.divDetail h2{
    font-family: 'Inconsolata', monospace;
    font-family: 'Lobster', cursive;
    font-family: 'Poor Story', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #05AFF2;
    background-color: #2A0859;
    font-size: 18px;
    border: none;
}

.divDetail p{
    font-family: 'Inconsolata', monospace;
    font-family: 'Lobster', cursive;
    font-family: 'Poor Story', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #05AFF2;
    background-color: #2A0859;
    font-size: 15px;
    border: 1px solid #05AFF2;
}